body {
	background: #eee;
	/*background: url(../img/snow-texture.jpg);
	background-repeat: repeat;*/
}

*, *:before, *:after {
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box;
}

#gameOver {
	font-size: 48px;
	text-align: center;
	color: red;
	font-family: Arial;
	font-weight: bold;
	display: none;
	position: fixed;
	z-index: 100;
}

#message, .message {
	font-size: 36px;
	text-align: center;
	color: red;
	font-family: Arial;
	font-weight: bold;
	display: none;
	position: fixed;
	z-index: 100;
}

#scoreBox {
	position: fixed;
	right: 0;
	top: 0;
}

.sprite {
	width: 32px;
	height: 32px;
	position: fixed;
}

.sprite.tall {
	height: 64px;	
}

.player {
	z-index: 50;
}

.player.left {
	background-image: url(../img/boarder-left-01.png);
}

.player.right {
	background-image: url(../img/boarder-right-01.png);
}

.player.step2.left {
	background-image: url(../img/boarder-left-02.png);
}

.player.step2.right {
	background-image: url(../img/boarder-right-02.png);
}

.tree {
	background-image: url(../img/tree-01.png);
}

.bush {
	background-image: url(../img/bush-01.png);
}

.rock {
	background-image: url(../img/rock-01.png);
}

.gate {
	background-image: url(../img/gate.png);
}

.track.left {
	background-image: url(../img/track-left.png);
}

.track.right {
	background-image: url(../img/track-right.png);
}

.coin {
	background-image: url(../img/coin.gif);
}

.fire {
	background-image: url(../img/fire.gif);
}

/* =Scoreboard
------------------------------------------------ */
.sPanel{
/*  background: rgba(101,103,106,0.90);*/
  width: 100%;
/*  height: 95px;*/
}
.logo-col{
	padding: 10px 10px 0px 35px;
	width: 180px;
	float: left;
}
.score-data-row{
	background: rgba(101,103,106,0.90);
	width: 100%;
	padding: 0px 30px;
	height: 35px;
}
.score-info{
	list-style-type: none;
	margin: 0;
	padding: 0;
	float: right;
	height: 35px;
	position: relative;
}
.score-info li{
	display: inline-block;
	border-left: 1px solid #868e98;
	padding: 0 15px;
	height: 35px;
	float: left;
	line-height: 35px;
}
.score-info li img{
	position: relative;
	top: 15%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	margin-right: 5px;
}
.icon-help{
	margin: 5px 0 0 0;	
}
.wgLogo{
	width: 152px;
}
.txt-sPanel{
	font-family: 'Source Sans Pro', sans-serif;
	color: #DBD99F;
	font-size: 18px;
	font-weight: 700;;
}
.help{
	width: 10%;
	padding: 10px 20px 0 20px;  
}




/* =Lightbox
------------------------------------------------ */
.mfp-with-anim {
  opacity: 0;
  transition: all 0.2s ease-in-out;
  transform: scale(0.8);
}
.mfp-zoom-in .mfp-with-anim {
  opacity: 0;
  transition: all 0.2s ease-in-out;
  transform: scale(0.8);
	z-index: 9999;
}
.mfp-zoom-in.mfp-bg {
  opacity: 0;
  transition: all 0.3s ease-out;
}
.mfp-zoom-in.mfp-ready .mfp-with-anim {
  opacity: 1;
  transform: scale(1);
}
.mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.mfp-zoom-in.mfp-removing .mfp-with-anim {
  transform: scale(0.8);
  opacity: 0;
}
.mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0;
}

.white-popup {
  position: relative;
  background: #FFF;
  padding: 25px;
  width:auto;
  max-width: 400px;
  margin: 0 auto; 
}

.popupPanel{
	font-family: 'Source Sans Pro', sans-serif;
	color: #454545;
	font-size: 15px;
}
.popupPanel h1{
	font-family: 'Roboto Condensed', sans-serif;
	color: #9DC9D0;
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.highScoreInput{
	border: 1px solid #9b9b9b;	
	padding: 10px;
	margin: 5px 0 0px 0;
}
.highScoreBtn{
	border: 0;
	background: #67B9C5;
	padding: 10px 0;
	color: #fff;
	text-transform: uppercase;
	transition: background .5s;
	outline: none;
}
.highScoreBtn:hover{
	background: #8bd4de;		
}

.restartBtn{
	border: 0;
	background: #5ba3ad;
	padding: 10px 0;
	color: #fff;
	text-transform: uppercase;
	transition: background .5s;
}
.restartBtn:hover{
	background: #8bd4de;		
}

.highScoreWrap{
	width: 100%;
	height: 187px;
	overflow: hidden;
	overflow-y: scroll;
}
.highScoreList{
	width: 100%;
}
.highScoreList tbody tr:nth-child(2n) {
	background-color: #f2f2f2;
}
.highScoreList th, .highScoreList td{
	padding: 5px;
}

.btn{
	border: 0;
	background: #67B9C5;
	padding: 10px 0;
	color: #fff;
	text-transform: uppercase;
	transition: background .5s;
	display: inline-block;
	text-decoration: none;
	text-align: center;
}
.btn:hover{
	background: #8bd4de;
}

td.hs-name{
	white-space: nowrap;
	width: 120px;
	overflow: hidden;
	display: inline-block;
}

/* debug */
#debugBox {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 200px;
	height: 200px;
	border: 2px solid #000;
	z-index: 1000;
	background: #ddd;
}

#debug {
	width: 100%;
	height: 90%;
	overflow: auto;
}